doctype html
html
  head
    meta(charset='utf-8')
    title Brandwatch WordCloud
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    script(src='/libs/requirejs/require.js', data-main='javascripts/main')
  body
    block content
