body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
footer {
  padding: 30px 0;
}

/* Colors of sentiment score */
.sentiment-score-green {
  color: #468847;
}
.sentiment-score-red {
  color: #a94442;
}
.sentiment-score-grey {
  color: #777;
}

/* Detail about topic */
.detail-info {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.detail-info h4 {
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block;
}
.detail-info p:last-child {
  margin-bottom: 0;
}
.detail-info-green {
  border-left-color: #468847;
}
.detail-info-green h4 {
  color: #468847;
}
.detail-info-red {
  border-left-color: #a94442;
}
.detail-info-red h4 {
  color: #a94442;
}
.detail-info-grey {
  border-left-color: #777;
}
.detail-info-grey h4 {
  color: #777;
}
.detail-info dl dt {
  float: left;
  width: 70px;
}
.detail-info dl dd {
  text-align: right;
  width: 115px;
}
.detail-info dl .lead {
  margin-bottom: 0;
  font-size: 16px;
}
.detail-info dl dt.lead {
  font-weight: bold;
}

/* Close button of detail */
.detail-info button.close {
  float: right;
  position: relative;
  top: -2px;
}

/* Div cloud */
div#cloud a {
  text-decoration: none;
}
div#cloud .sentiment-score-green a {
  color: #468847;
}
div#cloud .sentiment-score-red a {
  color: #a94442;
}
div#cloud .sentiment-score-grey a {
  color: #777;
}
div#cloud a:hover {
  color: #286090;
}

/* Font size to popularity score */
.popularity-word-1 {
  font-size: 120%;
}
.popularity-word-2 {
  font-size: 170%;
}
.popularity-word-3 {
  font-size: 220%;
}
.popularity-word-4 {
  font-size: 270%;
}
.popularity-word-5 {
  font-size: 320%;
}
.popularity-word-6 {
  font-size: 370%;
}
