body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  padding: 30px 0;
}

.negative {
  color: #D84315;
}

.positive {
  color: #4CAF50;
}

.neutral {
  color: hsl(250, 20%, 80%);
}

div#cloud a {
  font-size: inherit;
  text-decoration: none;
}

div#cloud a:hover {
  color: #90C5F0;
}

.popularity-word-1 {
  font-size: 100%;
}

.popularity-word-2 {
  font-size: 150%;
}

.popularity-word-3 {
  font-size: 200%;
}

.popularity-word-4 {
  font-size: 250%;
}

.popularity-word-5 {
  font-size: 300%;
}

.popularity-word-6 {
  font-size: 350%;
}

.sentiment-score-green {
  color: #4AA035;
}

.sentiment-score-red {
  color: #AF2200;
}

.sentiment-score-grey {
  color: #69747F;
}
