<div class="detail-info detail-info-<%= topic.sentimentScoreColor %>">
  <h4>Detail of <strong><%= topic.label %></strong></h4>
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <p>
    <dl>
      <dt class="lead">Volume</dt>
      <dd class="lead"><%= topic.volume %></dd>
      <dt><em>Positive</em></dt>
      <dd class="sentiment-score-green"><%= topic.sentiment.positive || 0 %></dd>
      <dt><em>Neutral</em></dt>
      <dd class="sentiment-score-grey"><%= topic.sentiment.neutral || 0 %></dd>
      <dt><em>Negative</em></dt>
      <dd class="sentiment-score-red"><%= topic.sentiment.negative || 0 %></dd>
    </dl>
  </p>
  <dl class="dl-horizontal">

  </dl>
</div>
